In [87]:
import pandas as pd
import psycopg2
from datetime import datetime, time, timedelta
from sqlalchemy import create_engine

In [91]:
#Conexiones a la base de datos
conn = psycopg2.connect(
    host='localhost',
    database='data_engineer',
    user='postgres',
    port='5434',
    password='Pomelo5075.'
)
cur = conn.cursor()



conn_string = 'postgresql+psycopg2://postgres:Pomelo5075.@localhost:5434/data_engineer'

db = create_engine(conn_string)
conn_db = db.connect()

In [92]:
#Crea en la base de datos el esquema la tabla de viajes y e inserta las viajes del archivo .csv
cur.execute(f'''create schema data_engineer''')

cur.execute(f'''
create table  data_engineer.trips (
    region varchar(50),
    origin_coord point, 
    destination_coord point,
    datetime timestamp,
    datasource varchar(50)
);
''')


df = pd.read_csv('trips.csv')
df['origin_coord'] = df['origin_coord'].apply(
    lambda x: ', '.join(x.split()[1:]))
df['destination_coord'] = df['destination_coord'].apply(
    lambda x: ', '.join(x.split()[1:]))

rows = ', '.join(list(df.apply(
    lambda x: f"('{x[0]}', '{x[1]}', '{x[2]}', '{x[3]}', '{x[4]}')", axis=1)))

cur.execute(f'''INSERT into data_engineer.trips values {rows}''')


# Crea una segunda tabla de "intervalos" que se usara para determinar que viajes son similares
cur.execute(f'''
    create table data_engineer.similar_trips ( 
        id  SERIAL primary key,
        region varchar(50),
        square box,
        time_start time,
        time_end time
    )
''')

conn.commit()

In [93]:
#pregunta 1
#a. Para determinar si los viaje son similares se dividio cada region en rectangulos de un 1° de latitud y longitud y el tiempo 
# del día en intervalos de una hora. Entonces dos viajes que tienen el origen en el mismo rectangulo, el destino en el mismo rectangulo y 
# están dentro del mismo intervalo de tiempo en el día se consideran similares. Para agrupar los viajes similares se contruye la 
# tabla de intervalos en que cada registro corresponde a un rectangulo de una región, a un intervalo del día acompañado de un id 
# del registro. Esta tabla se cruza con la tabla original de viajes dos veces. Pimero se cruza con la condición de que el 
# origen este dentro del rectangulo y el tiempo este dentro del intervalo y después con la condición de que el destino este 
# dentro del rectangulo y el tiempo este dentro del intervalo. Cruzando las tablas se puede determinar que viajes tuvieron 
# origenes, destinos y tiempos similares.

def get_similar_trips():
    #Se crea una lista con los intervalos de tiempo  
    time_range_list = []
    time_start = datetime(2022, 1, 1)
    while True:
        if time_start.time() < datetime(2022, 1, 1, 23).time():
            time_end = time_start + timedelta(minutes=60)
            time_range_list.append((time_start.time().strftime(
                "%H:%M:%S"), time_end.time().strftime("%H:%M:%S")))
        else:
            time_end = datetime(2022, 1, 1, 23, 59, 59)
            time_range_list.append((time_start.time().strftime(
                "%H:%M:%S"), time_end.time().strftime("%H:%M:%S")))
            break
        time_start = time_end

    #Se crea un dataframe con las latitudes maximas y minimas y las longitudes  maximas y minimas por region con el objetivo de 
    #dividir las coodenadas en segmentos y lograr construir un 'cuadriculado' en cada región
    df_regions = pd.read_sql(
        ''' 
        SELECT 
            region,
            max(origin_coord[0]) max_x, 
            max(origin_coord[1]) max_y , 
            min(origin_coord[0]) min_x, 
            min(origin_coord[1]) min_y 
        from 
            data_engineer.trips 
        group by
            region
        ''',
        con=conn_db
    )

    edge_len = 1


    #Se crea un dataframe con la combinatoria de todos los rectangulos e intervalos de tiempo por región.
    df = pd.DataFrame()
    for i in df_regions.iterrows():
        min_x = i[1]['min_x']
        max_x = i[1]['max_x']
        vertices_x_list = []

        min_x_vertice = min_x
        max_x_vertice = min_x + edge_len

        while True:
            vertices_x_list.append((min_x_vertice, max_x_vertice))
            if max_x_vertice >= max_x:
                break
            min_x_vertice = max_x_vertice
            max_x_vertice += edge_len

        min_y = i[1]['min_y']
        max_y = i[1]['max_y']
        vertices_y_list = []

        min_y_vertice = min_y
        max_y_vertice = min_y + edge_len

        while True:
            vertices_y_list.append((min_y_vertice, max_y_vertice))
            if max_y_vertice >= max_y:
                break
            min_y_vertice = max_y_vertice
            max_y_vertice += edge_len
            
        squares_list = [((i[0], j[0]), (i[1], j[1])) for i in vertices_x_list for j in vertices_y_list]
        data = [[i, j] for i in squares_list for j in time_range_list]

        squares_list = [i[0] for i in data]
        time_start_list = [i[1][0] for i in data]
        time_end_list = [i[1][1] for i in data]
        df_current = pd.DataFrame({'square': squares_list,
                        'time_start': time_start_list, 'time_end': time_end_list})
        df_current['square'] = df_current['square'].astype(str)

        df_current.insert(0, 'region', i[1]['region'])
        df = pd.concat([df, df_current])


    rows = ', '.join(list(df.apply(
        lambda x: f"('{x[0]}', '{x[1]}', '{x[2]}', '{x[3]}')", axis=1)))

    cur.execute(
        f'''insert into data_engineer.similar_trips(region, square, time_start, time_end) values {rows}''')  
    conn.commit()

    #Se cruzan las tablas para encontrar los viajes similares
    df_trips_groups = pd.read_sql(
        '''
        select
            concat( '(', t2.id, ',' ,t3.id,')')  trip_id,
            t1.*
        from 
            data_engineer.trips t1
        left join  data_engineer.similar_trips t2 
            on 	t1.region = t2.region
            and t2.square @> t1.origin_coord
            and cast(t1.datetime as time) > t2.time_start  
            and cast(t1.datetime as time) < t2.time_end  
        left join  data_engineer.similar_trips t3 
            on 	t1.region = t3.region
            and t3.square @> t1.destination_coord
            and cast(t1.datetime as time) > t3.time_start  
            and cast(t1.datetime as time) < t3.time_end 	
        order by 
            t2.id,
            t3.id 
        ''',
        con=conn_db)

    return df_trips_groups

In [94]:
#Pregunta 1
#Cuando dos viajes tiene el mismo valor en la columna trip_id significa que son similares
get_similar_trips()

,trip_id,region,origin_coord,destination_coord,datetime,datasource
0,"(1,1)",Hamburg,"(10.05260098579818,53.53497739746809)","(10.05889649564977,53.49486429314853)",2018-05-04 00:46:12,cheap_mobile
1,"(2,2)",Hamburg,"(10.02610136178745,53.50122432388112)","(9.83414766930147,53.6513082275632)",2018-05-14 01:47:52,baba_car
2,"(4,4)",Hamburg,"(10.1457401708168,53.43686908113324)","(10.19421502623748,53.49444402955017)",2018-05-10 03:37:56,bad_diesel_vehicles
3,"(5,5)",Hamburg,"(10.17378993097742,53.5467336774148)","(10.21529787231755,53.50485266884467)",2018-05-21 04:06:11,pt_search_app
4,"(5,5)",Hamburg,"(10.06118280297654,53.46738240063593)","(10.20354128171305,53.51109692120344)",2018-05-17 04:27:09,baba_car
...,...,...,...,...,...,...
95,"(67,67)",Turin,"(7.723807753167536,45.02971128289503)","(7.592874526101529,45.0395824302331)",2018-05-24 18:32:22,pt_search_app
96,"(68,68)",Turin,"(7.592730702551875,45.10999018294942)","(7.714926530712359,45.0772550203861)",2018-05-18 19:29:56,bad_diesel_vehicles
97,"(69,69)",Turin,"(7.671077441892763,45.00676340143624)","(7.7199332961156,44.98171705467543)",2018-05-15 20:30:12,pt_search_app
98,"(70,70)",Turin,"(7.676692231736426,45.06249909939103)","(7.686960868773017,45.09709631077637)",2018-05-21 21:32:17,baba_car
99,"(71,71)",Turin,"(7.563475091132667,44.97997955620617)","(7.517129937471816,45.06482486034779)",2018-05-13 22:16:27,pt_search_app

In [102]:
#Pregunta 2
#La siguiente función tiene como parámetros la latitud y longitud minima y la latitud y longitud maxima y la región. Con esto
#se hace un llamado a la base de datos para obtener el promedio semanal. retorna un objeto con 
# el promedio y el estado final de la base de datos. 
def get_weekly_average(x1,y1,x2,y2, region):
    df = pd.read_sql(
        f'''
        select
            (select 
                count(origin_coord) 
            from 
                data_engineer.trips 
            where
                cast('({x1},{y1}),({x2},{y2})' as box) @> origin_coord
                and cast('({x1},{y1}),({x2},{y2})' as box) @> destination_coord
                and region='{region}')/
            (select extract(epoch from (select max(datetime) - min(datetime) from data_engineer.trips))/(60 * 60 * 24 * 7))
        ''',
        con=conn_db)

    return {'average': df.iloc[0,0], 'status': conn.poll()}

In [103]:
#Pregunta 2
get_weekly_average(10.80304883152659,54.42865933587807, 9.80304883152659,53.42865933587807, 'Hamburg')

{'average': 5.318049192260874, 'status': 0}

In [ ]:
cur.close()
conn.close()
conn_db.close()